.title {
  text-align: center;
  text-transform: uppercase;
  color: darkgray;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.title::after {
  content: " ";
  margin-left: 555px;
  display: block;
  height: 2px;
  width: 55px;
  margin-top: 7px;
  border-radius: 10px;
  background-color: darkgreen;
}

.title::before {
  content: " ";
  margin-left: 545px;
  display: block;
  height: 2px;
  width: 80px;
  background-color: darkgreen;
  margin-top: 10px;
  border-radius: 10px;
}
